.img-gallery-container-multiple {
  container-type: inline-size;
  container-name: img-gallery;
}

.img-gallery-container-multiple button {
  max-width: calc(24.7% - 0.05rem);
}

.lg-toolbar {
  button, a, .lg-counter {
    background: rgba(0, 0, 0, 0.5) !important;
  }
  .lg-counter {
    padding-right: 20px;
  }
}

.lg-thumb {
  .lg-thumb-item {
    border: 2px solid transparent;
    border-radius: 0;
    transition: border-color 0.25s;
  }

  .lg-thumb-item:hover, .lg-thumb-item:active {
    border: 2px solid rgb(169, 7, 7);
  }
}

.lg-media-overlap .lg-sub-html {
  position: relative;
  top: -10px;
  width: fit-content;
  margin: auto;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.5);
  background-image: unset !important;

  span {
    opacity: 100%;
    font-size: 0.9rem;
    color: var(--bs-gray-300);
    width: fit-content;
  }
}

#loadMoreBtn {
  p {
    transition: opacity 0.25s;
    opacity: 0;
  }
  svg {
    transition: top 0.25s;
    position: absolute;
    top: 0px;
  }
  &:hover, &:focus {
    p {
      transition: opacity 0.25s;
      opacity: 1;
    }
    svg {
      transition: top 0.25s;
      top: 24px;
    }
  }
}

.img-gallery-container-multiple span img,
.img-gallery-container span img {
  cursor: pointer;
  min-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;

  transition: opacity 0.3s, filter 0.25s !important;
  filter: brightness(1);
}

.img-gallery-container-multiple span img:hover,
.img-gallery-container span img:hover,
.img-gallery-container-multiple span img:focus ,
.img-gallery-container span img:focus {
  transition: opacity 0.3s, filter 0.25s !important;
  filter: brightness(0.7);
}

@container img-gallery (width < 800px) {
  .img-gallery-container-multiple button {
    max-width: calc(33% - 0.05rem);
  }
}

@container img-gallery (width < 557px) {
  .img-gallery-container-multiple button {
    max-width: calc(50% - 0.15rem);
  }
}

@container img-gallery (width < 280px) {
  .img-gallery-container-multiple button {
    max-width: 100%;
  }
}