.input-actions {
  width: 100%;
}

.grouped-row-container {
  container-name: grouped-row;
  container-type: inline-size;
}

.grouped-row-container .card-title {
  flex-wrap: wrap;

  .grouped-row-title {
    flex-basis: calc(100% - 42px - 0.5rem);
    flex-grow: 0;
  }

  .group-strategy-container {
    flex-basis: 100%;
    order: 3;
  }
}

@media all and (width >= 768px) {

}

@container grouped-row (width >= 614px) {
  .grouped-row-container {
    .input-actions {
      width: calc((100% / 2) - 4px);
    }
    .card-title {
      flex-wrap: nowrap;

      .grouped-row-title {
        //flex-basis: unset;
        max-width: calc((100% / 2) - 4px);
      }

      .group-strategy-container {
        flex-basis: calc(100% - ((100% / 2) - 4px) - 0.5rem);
        order: 0;
      }
    }
  }
}

