.to-top-btn {
  bottom: -50px;
  right: 32px;
  width: 48px;
  height: 48px;
  z-index: 4;

  visibility: hidden;
  opacity: 0;

  &.visible {
    visibility: visible;
    opacity: 1;
    bottom: 32px;
  }

  transition:
    bottom 0.15s ease,
    visibility 0.15s ease,
    opacity 0.15s ease;
}