// Source - https://stackoverflow.com/a
// Posted by David Fleury, modified by community. See post 'Timeline' for change history
// Retrieved 2026-01-17, License - CC BY-SA 4.0
$utilities: (
  'width': (
    property: width,
    class: w,
    responsive: true,
    values: (
      25: 25%,
      33: 33%,
      50: 50%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  )
);

$primary: #000;
$carousel-transition-duration: 0.3s;

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body, #root {
  min-height: 100vh;
}

.btn-outline-primary {
  border-color: $input-border-color;
}

[data-bs-theme="dark"] {
  $primary: #fff;
  --bs-primary: #fff;

  .btn-primary {
    @extend .btn-light;
  }
  .btn-outline-primary {
    @extend .btn-outline-light;
    border-color: $input-border-color;
  }
  a {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-primary);
    }
  }
  input:focus,
  select:focus,
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
  .accordion-button:not(.collapsed) {
    background-color: var(--bs-primary);
    color: black;
  }
  .nav-link.active {
    background-color: var(--bs-primary);
    color: black;
  }
  .form-check-input {
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }
    &:checked {
      filter: invert(1);
    }
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
}