// Source - https://stackoverflow.com/a
// Posted by David Fleury, modified by community. See post 'Timeline' for change history
// Retrieved 2026-01-17, License - CC BY-SA 4.0
$utilities: (
  'width': (
    property: width,
    class: w,
    responsive: true,
    values: (
      15: 15%,
      25: 25%,
      33: 33%,
      50: 50%,
      66: 66%,
      75: 75%,
      100: 100%,
      auto: auto,
    ),
  ),
  "border-opacity": (
    property: --bs-border,
    css-var: true,
    class: border-opacity,
    values: (
      0: 0,
      10: .1,
      25: .25,
      50: .5,
      75: .75,
      100: 1
    )
  ),
);

$primary: #000;
$carousel-transition-duration: 0.3s;

@import "../../node_modules/bootstrap/scss/bootstrap";

html, body, #root {
  min-height: 100vh;
}

html {
  scrollbar-gutter: stable;
}

#mainContentLink {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;

  &:focus {
    width: unset;
    height: unset;
    padding: unset;
    margin: unset;
    overflow: unset;
    clip: unset;
    white-space: unset;
    border: unset;
  }
}

.btn-outline:disabled {
  border: none;
}

.btn-outline:focus {
  @extend .btn-outline, :active;
}

.btn-outline-primary {
  border-color: $input-border-color;
}

.nav-link.link-body-emphasis.active {
  color: #fff !important;
}

.border-primary {
  border-color: rgba(0, 0, 0, var(--bs-border-opacity)) !important;
}

.dropdown-item-hover {
  @extend .dropdown-item, :hover;
}

input[type="range"] {
  &::-webkit-slider-thumb {
    border: 1.5px solid $gray-500;
    background-color: #fff;
  }

  &::-moz-range-thumb {
    border: 1.5px solid $gray-500;
    background-color: #fff;
  }
}

.btn-link:hover, .btn-link:focus {
  @extend .link-body-emphasis, :hover;
}

[data-bs-theme="dark"] {
  $primary: #fff;
  --bs-primary: #fff;

  .nav-link:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }

  a:not(.btn, .alert-link, .dropdown-item), .btn-link {
    color: var(--bs-primary);

    &:hover {
      color: var(--bs-primary);
    }
  }

  .border-primary {
    border-color: rgba(255, 255, 255, var(--bs-border-opacity)) !important;
  }

  .border-primary-subtle {
    border-color: rgba(255, 255, 255, 0.5) !important;
  }

  .nav-link.link-body-emphasis.active {
    color: #000 !important;
  }

  .btn-primary {
    @extend .btn-light;
  }

  .btn-outline-primary {
    @extend .btn-outline-light;
    border-color: $input-border-color;
  }

  input[type="range"] {
    &::-webkit-slider-thumb {
      border: 1.5px solid #fff;
      background-color: #fff;
    }

    &::-moz-range-thumb {
      border: 1.5px solid #fff;
      background-color: #fff;
    }

    &:focus::-webkit-slider-thumb {
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    }

    &:focus::-moz-range-thumb {
      box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    }
  }

  input:focus,
  select:focus,
  .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }

  .accordion-button:not(.collapsed) {
    background-color: var(--bs-primary);
    color: black;
  }

  .nav-link.active, .dropdown-item:active, .dropdown-item.active {
    background-color: var(--bs-primary);
    color: black;
  }

  .form-check-input {
    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
    }

    &:checked {
      filter: invert(1);
    }
  }
}

#root {
  display: flex;
  flex-flow: column nowrap;
}