.main-wrapper {
  max-width: 90%;
}

#city-feed {
  container-type: inline-size;
  container-name: city-feed;
}

.img-gallery-container {
  container-type: inline-size;
  container-name: img-gallery;
}

.img-gallery-container > img {
  max-width: calc(33% - 0.1rem);
}

.sidebar {
  height: 100vh;
}

#city-feed > .card {
  flex-basis: calc(33% - 0.5rem);
}

@container img-gallery (width < 700px) {
  .img-gallery-container > img {
    max-width: calc(50% - 0.25rem);
  }
}

@container city-feed (width < 800px) {
  #city-feed > .card {
    flex-basis: calc(50% - 0.5rem);
  }
}

@container city-feed (width < 474px) {
  #city-feed > .card {
    flex-basis: 100%;
  }
}

@media all and (min-width: 1401px) {
  .main-wrapper {
    max-width: 65%;
  }
}
@media all and (min-width: 992px) {
  .sidebar {
    height: 92vh;
    position: sticky;
    top: 64px;
  }
}